<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:sca="http://www.springframework.org/schema/sca" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:beans="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="com.ptteng.score.admin.controller"/>
    <context:property-placeholder location="classpath:exception_zh.properties"/>
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
    <!--视图解析器-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages"/>
        <property name="suffix" value=".jsp"/>
    </bean>



    <!--aop注解驱动，另外aop想要切面controller，必须在扫描controller的xml中，引入下面的-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!--文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 指定所上传文件的总大小不能超过10MB。注意maxUploadSize属性是字节，限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="100000000"/>
    </bean>

    <!--异常处理解析器-->
    <bean id="exceptionResolver"
          class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="org.springframework.dao.DataAccessException">
                    dataAccessFailure
                </prop>
            </props>
        </property>
    </bean>
    <bean id="filenameController"
          class="org.springframework.web.servlet.mvc.UrlFilenameViewController"/>

    <!--短信验证-->
    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <set>
                <value>classpath:exception-messages-play</value>
            </set>
        </property>
        <property name="useCodeAsDefaultMessage" value="true"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>


    <bean id="jstlViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="2"/>
    </bean>
    <bean id="tilesResolver"
          class="org.springframework.web.servlet.view.tiles2.TilesViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.tiles2.TilesView"/>
        <property name="order" value="1"/>
        <property name="viewNames">
            <list>
                <value>*/web/*</value>
            </list>
        </property>
    </bean>

    <!--<bean id="tilesConfigurer"-->
    <!--class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">-->
    <!--<property name="definitions">-->
    <!--<list>-->
    <!--<value>/WEB-INF/tiles.xml</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->


    <!--6：配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/a/u/2222"/>
            <bean class="com.ptteng.score.admin.util.LoginInterceptor"/>

            <!--<mvc:mapping path="/u/*"/>-->
            <!--<bean class="com.ptteng.studyabroad.util.UserInterceptor"/>-->
        </mvc:interceptor>
    </mvc:interceptors>


</beans>