<div class="row pd-top-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            DetailCtrl管理
        </div>
        <div class="panel-body" style="border:1px solid #858585; margin: 2%;">
            <form role="form" class="form-horizontal" name="ngForm" novalidate>
          
          
                    <div class="form-group">
                    <label class="col-md-2 control-label">自增id名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.id" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">自增id不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">职业名称名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.name" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">职业名称不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">公司id名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.cId" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">公司id不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">发布时间名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.releaseAt" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">发布时间不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">薪资名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.salary" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">薪资不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">学历名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.education" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">学历不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">工作经验名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.workExperience" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">工作经验不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">上架状态名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.status" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">上架状态不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">岗位职责名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.responsibility" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">岗位职责不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">必备条件名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.requirement" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">必备条件不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">公司福利名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.welfare" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">公司福利不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">创建时间名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.createAt" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">创建时间不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">修改时间名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.updateAt" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">修改时间不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">创建人名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.createBy" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">创建人不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">更新人名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.updateBy" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">更新人不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                          
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-sm" ng-if="vm.status==2" ng-click="vm.update()" ng-disabled="ngForm.$invalid">保存</button>
                        <button class="btn btn-success btn-sm" ng-if="vm.status==1&&globalPermission.updated" ng-click="vm.edit()">编辑</button>
                        <button class="btn btn-success btn-sm" ng-if="vm.status==3" ng-click="vm.add()" ng-disabled="ngForm.$invalid">新增</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default btn-sm" ng-if="vm.status==2||vm.status==3"
                                ng-click="vm.cancel()">取消
                        </button>
                        <button class="btn btn-default btn-sm" ng-if="vm.status==1" ng-click="vm.cancel()">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
